.eye-brow {
    font-size: 15px;
    font-family: Graphik, Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 28px;
}

.headline {
    font-size: 40px;
    font-weight: bold;
    font-family: Graphik, Helvetica, Arial, sans-serif;
    margin-bottom: 36px;
    line-height: 1;
}
